<strong><%= @camera_man.name%></strong>
<p>
    <b>Company Name</b> : <%=@camera_man.company_name%>
</p>
<p>
    <b>Contact Info</b> : <br>
    <%= @camera_man.email %><br>
    <%= @camera_man.phone_number %>
</p>